.container {
  width: 335px;
}
.editColumn_title {
  color: var(--text-secondary-color);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.36px;
  margin-bottom: 24px;
}

.editColumn_input {
  display: block;
  width: 100%;
  padding: 14px 18px;
  margin-bottom: 24px;
  opacity: 0.4;

  border-radius: 8px;
  border: 1px solid var(--input-border-color);
  background-color: transparent;
  color: var(--text-secondary-color);
  &:focus {
    opacity: 1;
    outline: 1px solid var(--input-border-color);
  }
}

.editColumn_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 100%;
  padding: 10px 0;

  background-color: var(--btn-bg-color);
  color: var(--text-btn-column);

  border-radius: 8px;
}

.iconWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  background-color: var(--btn-icon-color-bg);
  border-radius: 8px;
}

.icon {
  width: 14px;
  height: 14px;
  stroke: var(--btn-icon-color-plus);
}
