/*  */

.wrap {
  display: flex;

  width: 334px;
  height: 154px;

  border-radius: 8px;

  background-color: var(--task-card-background-color);

  overflow: hidden;
}

/* INDICATOR */

.priorityIndicator {
  width: 4px;
  height: 100%;

  margin-right: auto;
}

.priorityDefault {
  background-color: rgba(255, 255, 255, 0.3);
}

.priorityLow {
  background-color: #8fa1d0;
}

.priorityMedium {
  background-color: #e09cb5;
}

.priorityHigh {
  background-color: #bedbb0;
}

/*  */

.content {
  width: fit-content;
  padding: 14px 20px;
}

.title {
  margin-bottom: 8px;

  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.28px;
  color: var(--task-card-title-color);
}

.description {
  width: 290px;
  height: 38px;

  margin-bottom: 14px;

  overflow: hidden;
  text-overflow: ellipsis;

  text-overflow: ellipsis;
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: -0.24px;
  color: var(--task-card-description-color);
}

/* ADDITIONS */

.additionsWrap {
  display: flex;
  align-items: last baseline;

  padding-top: 14px;

  border-top: 1px solid var(--task-card--line-color);
}

.addition {
  display: flex;
  flex-direction: column;
}

.additionLabel {
  margin-bottom: 4px;

  font-size: 8px;
  line-height: normal;
  letter-spacing: -0.16px;
  color: var(--task-card-secondary-title-color);
}

.additionValue {
  font-size: 10px;
  line-height: normal;
  letter-spacing: -0.2px;
  color: var(--task-card-title-color);
}

.priorityWrap {
  display: flex;
  align-items: center;
  gap: 4px;

  margin-right: 14px;
}

.priorityIcon {
  width: 12px;
  height: 12px;

  border-radius: 999px;
}

/* DEADLINE ICON */

.deadlineIcon {
  width: 16px;
  height: 16px;
  margin-left: auto;

  stroke: #BEDBB0;
}

/* ACTIONS */

.actionsWrap {
  display: flex;
  align-items: center;
  gap: 12px;

  width: fit-content;
  margin-left: auto;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 64px;
}

.actionItem {
  width: 16px;
  height: 16px;
}

.actionBtn {
  width: 16px;
  height: 16px;

  padding: 0;

  border: 0;
  /* background-color: #ffffff; */

  cursor: pointer;
}

.actionIcon {
  width: 16px;
  height: 16px;

  stroke: var(--icon-card-color);
}