.profile_btn {
  display: flex;
  gap: 8px;
  align-items: center;

  color: var(--text-primary-color);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.28px;
}
