.container {
  width: 135px;
  padding: 18px;
  background-color: #161616;
}
.list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.item {
  color: #bedbb0;
  font-size: 14px;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.28px;
}
