.sectoion {    
    align-items: center;
    justify-content: center;
    background-color: var(--background-color);
}


.container {
width: 486px;
height: 72px;
font-size: 14px;
font-weight: 400;
text-align: center;
margin-top: 281px;
margin-left: auto;
margin-right: auto;
align-items: center;
justify-content: center;
margin-top: 20px;
color: var(--text-color);
}

.button_create {
    color: var(--text-link-color);
}