.component {
  background-color: grey;
}

.column {
  display: inline-block;
}

.column__section {
  background-color: #fff;
  margin-left: 24px;
  margin-bottom: 14px;
}


.board_title {
  font-size: 18px;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 24px;
  color: var(--text-primary-color);
}

.column_title {
  font-size: 14px;
  font-weight: 500;
  margin-left: 20px;
  color: var(--text-primary-color);
}
.column__edit__button {
  width: 40px;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
  padding-top: 4px;
 
 
}
.column__edit__button :first-child{
  margin-right: 2px;
}

.button__add__icon {
  width: 16px;
  height: 16px;
}

.column__section {
  display: flex;
  width: 334px;
  height: 56px;
  justify-content: space-between;
  align-items: center;
  /* border: #161616 solid 1px; */
  border-radius: 8px;
}

.column__icon {
  stroke: var(--icon-pop-up-color);

  width: 16px;
  height: 16px;
  /* fill:red; */
}



.button_create {  
    display: flex;
    width: 334px;
    height: 56px;
    font-size: 14;
    font-weight: 500;
    align-items: center;
    justify-content: center;
    /* border: #161616 solid 1px; */
    margin-top: 14px;
    margin-bottom: 16px;
    margin-left: 24px;
    border-radius: 8px;
    background-color: var(--btn-bg-color);
    
}

.button__icon__background {
   background-color: #161616; 
   width: 28px; 
   height: 28px;
   margin-right: 15px;
   padding: 7px; 
   border-radius: 8px; 
}
.button__create__icon {
  width: 14px; 
  height: 14px;
  stroke: #fff;    
}