.modalTitle {
  /* font-family: Poppins; */
  color: var(--modal-title-color);

  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: -0.02em;
  text-align: left;
  margin: 0;
}

.inputForm {
  gap: 14px;
  margin-top: 14px;
}

.inputCardTitle {
  border-radius: 8px;
  border: 1px solid var(--select-active-color);
  outline: none;
  background: var(--background-color);
  /* box-shadow: 0px 4px 16px 0px rgba(22, 22, 22, 0.08); */
  opacity: 0.4;
  width: 100%;
  height: 49px;
  color: var(--text-secondary-color);
  padding-left: 8px;
}
.inputCardTitle:focus {
  outline: none;
  opacity: 1;

  border: 1px solid var(--select-active-color);
  background-color: var(--bg-screen);
}

.inputCardTitle::placeholder {
  color: var(--text-secondary-color);
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.28px;
}

.inputCardDescription {
  position: relative;
  border-radius: 8px;
  border: 1px solid var(--select-active-color);
  opacity: 0.4;
  background: var(--background-color);

  color: var(--text-primary-color);

  margin-top: 14px;
  width: 100%;
  height: 154px;

  padding: 14px 8px 14px 8px;
  resize: none;
}

.inputCardDescription:focus {
  outline: none;
  opacity: 1;
  border: 1px solid var(--select-active-color);
  background-color: var(--bg-screen);
}

.inputCardDescription::placeholder {
  position: absolute;
  color: var(--text-secondary-color);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.28px;
}

.inputLabelColor {
  color: var(--select-text-color);
  /* font-family: Poppins; */
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.24px;
  margin: 14px 0 0 4px 0;
}

.inputLabelColorContainer {
  margin-top: 14px;
}

.deadlineTitle {
  color: var(--select-text-color);
  /* font-family: Poppins; */
  font-size: 12px;

  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.24px;
}

.inputAddBtn {
  display: flex;
  width: 100%;
  padding: 10px 0px 11px 0px;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  color: var(--modal-btn-text-color);
  border-radius: 8px;
  background: var(--select-active-color);
  cursor: pointer;
}

.inputAddBtn:focus {
  background: var(--btn-bg-color-hover);
}

.inputAddBtn:hover {
  background: var(--btn-bg-color-hover);
}

.deadlineTitle {
  margin: 0;
}

.deadlineContainer {
  margin-top: 14px;
}

.plusIconContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 28px;
  height: 28px;
  border-radius: 8px;
  background-color: var(--icon-logo-background-color);
  margin-right: 8px;
}

.plusIcon {
  display: inline-block;
  stroke: var(--modal-btn-plus);
  width: 14px;
  height: 14px;
  stroke: var(--addCard-plus-icon);
}

.customRadio {
  display: inline-block;
  position: relative;
  cursor: pointer;
  margin: 0;
  margin-right: 8px;
}

.hiddenRadio {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  width: 24px;
  height: 24px;
}

.customIcon:checked {
  width: 14px;
  height: 14px;
}

.customIconcheked {
  width: 14px;
  height: 14px;
  --radio-inside: rgb(0, 128, 96);
  --radio-outside: rgb(0, 128, 64);
}
/* wiout */
.customIconUncheckedWithout {
  width: 14px;
  height: 14px;
  fill: #a7a6a6c2;
  stroke: #a7a6a6c2;
}

.customIconchekedwithout {
  width: 14px;
  height: 14px;
  --radio-inside: #a7a6a6c2;
  --radio-outside: #a7a6a6c2;
}

/* low */

.customIconUncheckedLow {
  width: 14px;
  height: 14px;

  fill: #8fa1d0;
}

.customIconchekedlow {
  width: 14px;
  height: 14px;
  --radio-inside: #8fa1d0;
  --radio-outside: #8fa1d0;
}

/* medium */

.customIconchekedmedium {
  width: 14px;
  height: 14px;
  --radio-inside: #e09cb5;
  --radio-outside: #e09cb5;
}

.customIconUncheckedmedium {
  width: 14px;
  height: 14px;

  fill: #e09cb5;
}

/* high */

.customIconchekedhigh {
  width: 14px;
  height: 14px;
  --radio-inside: rgb(190, 217, 176);
  --radio-outside: rgb(190, 217, 176);
}

.customIconUncheckedHigh {
  width: 14px;
  height: 14px;

  fill: #bedbb0;
}

.radioBtnContainer {
  display: flex;
  flex-direction: row;
  gap: 4px;
}
