/* .modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
} */

/* .modalBody {
  position: fixed;
  display: inline-block;
  border-radius: 8px;
  border: 1px solid rgba(190, 219, 176, 0.5);
  background: #151515;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 312px;
  min-height: 456px;

  padding: 24px;

  margin-right: auto;
  margin-left: auto;
} */
.closeIcon {
  rotate: 45deg;
  width: 18px;
  height: 18px;
  fill: white;
  stroke: #fff;
}

.closeIconContainer {
  position: absolute;
  width: 18px;
  height: 18px;
  fill: white;

  top: 14px;
  right: 14px;

  cursor: pointer;
}

.modalTitle {
  color: #ffffff;
  /* font-family: Poppins; */
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: -0.02em;
  text-align: left;
  margin: 0;
}

.inputForm {
  gap: 14px;
  margin-top: 14px;
}

.inputCardTitle {
  border-radius: 8px;
  border: 1px solid #bedbb0;
  outline: none;
  background: #1f1f1f;
  box-shadow: 0px 4px 16px 0px rgba(22, 22, 22, 0.08);
  opacity: 0.4;
  width: 296px;
  height: 49px;
  color: white;
  padding-left: 8px;
}
.inputCardTitle:focus {
  outline: none;
  opacity: 1;

  border: 1px solid #bedbb0;
  background-color: #1f1f1f54;
}

.inputCardTitle::placeholder {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.28px;
}

.inputCardDescription {
  position: relative;
  border-radius: 8px;
  border: 1px solid #bedbb0;
  opacity: 0.4;
  background: #1f1f1f;
  box-shadow: 0px 4px 16px 0px rgba(22, 22, 22, 0.08);
  color: #fff;

  margin-top: 14px;
  width: 290px;
  height: 154px;

  padding: 14px 8px 14px 8px;
  resize: none;
}

.inputCardDescription:focus {
  outline: none;
  opacity: 1;
  border: 1px solid #bedbb0;
  background-color: #1f1f1f54;
}

.inputCardDescription::placeholder {
  position: absolute;
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.28px;
}

.inputLabelColor {
  color: rgba(255, 255, 255, 0.5);
  /* font-family: Poppins; */
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.24px;
  margin: 14px 0 0 4px 0;
}

.inputLabelColorContainer {
  margin-top: 14px;
}

.deadlineTitle {
  color: rgba(255, 255, 255, 0.5);
  /* font-family: Poppins; */
  font-size: 12px;

  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.24px;
}

.inputAddBtn {
  display: flex;
  width: 302px;
  padding: 10px 0px 11px 0px;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;

  border-radius: 8px;
  background: #bedbb0;
  cursor: pointer;
}

.inputAddBtn:focus {
  background: #9dc888;
}

.inputAddBtn:hover {
  background: #9dc888;
}

.deadlineTitle {
  margin: 0;
}

.deadlineContainer {
  margin-top: 14px;
}

.radioOptionHigh {
  color: #e09cb5;
  background-color: #e09cb5;
}

.plusIcon {
  display: inline-block;
  stroke: white;
  background-color: #1f1f1f;
  border-radius: 6px;
  width: 16px;
  height: 16px;
  padding: 11px;
  margin-right: 8px;
}

.customRadio {
  display: inline-block;
  position: relative;
  cursor: pointer;
  margin: 0;
  margin-right: 8px;
}

.hiddenRadio {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.customIcon {
  width: 14px;
  height: 14px;
}

.checked .customIcon {
  width: 14px;
  height: 14px;
}
