.title {
  color: var(--icon-pop-up-color-active);
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.02em;
  margin-bottom: 14px;
}

.filterContainer {
  border-top: 1px solid var(--modal-secondary-text-color);
  padding-top: 14px;
}

.listTitle {
  color: var(--icon-pop-up-color-active);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.02em;
  margin-bottom: 14px;
}

.filterList {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.btn {
  cursor: pointer;
  color: var(--icon-pop-up-color);
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-decoration-line: underline;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover {
  color: var(--btn-bg-color-hover);
}

.filterListItem {
  color: var(--icon-pop-up-color);
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filterListItem:hover {
  color: var(--btn-bg-color-hover);
}

.filterListItem:not(:last-child) {
  margin-bottom: 8px;
}

.inputBtn {
  position: relative;
  width: 14px;
  height: 14px;
  border-radius: 50%;
}

.visuallyHidden:checked + .filterListItem .inputBtn::before {
  content: '';
  position: absolute;
  top: 1px;
  left: 1px;
  width: 12px;
  height: 12px;
  background-color: transparent;
  border-radius: 50%;
  border: 2px solid var(--bg-header);
}

.visuallyHidden:checked + .filterListItem {
  color: var(--icon-pop-up-color-active);
}

.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
