.card__item {
  flex-wrap: nowrap;
}

.card {
  width: 334px;
  height: 154px;
  font-size: 24px;
  font-weight: 500;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  margin-bottom: 8px;
  padding: 60px 120px;
  background: var(--icon-pop-up-color);
  border-radius: 8px;
}

/* scroll */

.os-host
  .os-theme-dark
  > .os-scrollbar-horizontal
  > .os-scrollbar-track
  > .os-scrollbar-handle {
  max-width: 10px;
  min-width: 10px;
  background: red;
}
