.myButton {
  color: var(--btn-bg-color);

  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.28px;
  border: 0px solid;
  text-transform: inherit;
  justify-content: left;
  display: inline-block;
  display: flex;
  flex-direction: row;
  max-width: 250px;
  padding: 0;
  justify-content: left;
}

.myButton:hover {
  color: var(--btn-bg-color);
  border: none;
  /* background-color: transparent; */
}
.myButton:focus {
  color: var(--btn-bg-color);
  border: none;
  /* background-color: transparent; */
}

.chevronDownContainer {
  display: flex;
  align-items: center;
}

.chevronDown {
  stroke: var(--btn-bg-color);
  width: 18px;
  height: 18px;
  transition: transform 250ms ease;
}

.rotate {
  transform: rotate(180deg);
  transition: transform 250ms ease;
}
