.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  position: absolute;

  display: inline-block;
  border-radius: 8px;
  border: 1px solid rgba(190, 219, 176, 0.5);
  background: #151515;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 312px;
  min-height: 456px;

  padding: 14px;

  margin-right: auto;
  margin-left: auto;
}

.formStyle {
  position: absolute;

  top: 223px;
  right: 7px;
  width: 312px;
  padding: 10px;
  text-align: center;
}

.labelStyle {
  display: block;
  margin-bottom: 20px;
}

.inputName {
  display: block;
  font-size: 25px;
  margin-top: 10px;
  padding: 5px;
  border-radius: 6px;
}

.btnAdd {
  padding: 5px 20px;
  font-weight: 700;
  font-size: 20px;
  border-radius: 6px;
  width: 100%;
}

.btnClose {
  position: absolute;

  top: 8px;
  right: 8px;

  outline: none;

  padding: 0px;
  border: 0px;

  background-color: transparent;

  cursor: pointer;
  color: white;
}

.titleName {
  color: white;
}
