.modal {
  margin-top: 10px;
  
  width:350px;
  min-height: 300px;
 
}

.formStyle {

  width: 350px;
  text-align: center;
}

.labelStyle {
  position: relative;
  display: block;
  margin-bottom: 20px;
}

.inputName {
  display: block;
  font-size: 14px;
  margin-top: 10px;
  padding: 14px 18px;
  border-radius: 6px;
  width: 100%;
  height: 49px;
  background: none;
  color: #949090cc;
  border: 1px solid rgba(190, 219, 176, 0.5);
  
  
}

.inputName:hover {
  border: 1px solid #BEDBB0;
}

.inputName:focus {
  border: 1px solid;
  border-color: #BEDBB0;
  color: #FFFFFF;
}

.inputNameImg {
  display: block;
 
  width: 100px;
  opacity: 0;
}

.img {
  display: inline-block;
 
  justify-content: center;
}

.imgUser {
  display: inline-block;
  width: 68px;
  height: 68px;
  justify-content: center;
  
}

.btnAdd {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
  border-radius: 6px;
  width: 100%;
  background-color: #BEDBB0;
  height: 49px;
  justify-content: center;
}

.titleName {
  color: white;
  font-size: 18px;
  width: 96px;
}

.passwordToggle {
  position: absolute;
  right: 5px;
    top: 33%;
    transform: translate(-70%);
} 

.fieldIcon {
  display: inline-block;
  
  fill: none;
  stroke: #949090cc;
  cursor: pointer;
}
