.header {
  background-color: var(--background-color);
  background-color: red;
  height: 300px;
}

.header_iconMenu {
  fill: var(--mobile-menu-icon);
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: calc(100% - (14px * 2));
  padding: 14px 20px;
}

.menu_btn {
  height: 24px;
  width: 24px;
}
