.AuthButton {
  color: #161616;
  background-color: #bedbb0;
  width: 100%;
  height: 49px;
  margin-top: 10px;

  font-style: normal;
  font-size: 14px;
  font-weight: 500;
  
  border-radius: 8px;
  line-height: 21px;
  letter-spacing: -0.02em;
  border: none;
  cursor: pointer;
  text-align: center;

  &:hover,
  &:focus,
  &:active {
    background: #a1cf89;
  }

  &:active {
    transform: scale(0.95);
  }
  @media screen and (min-width: 767px) {
    width: 344px;
  }
}
