.column__container {
  display: flex;
  flex-wrap: nowrap;
  /* margin-top: 10px; */
  /* margin-bottom: 19px; */
  width: 334px;
  /* margin-left: 20px; */
  margin-left: auto;
    margin-right: auto;
  @media screen and (min-width: 768px) {
    width: 704px;
    /* margin-left: 32px; */
    margin-left: auto;
    margin-right: auto;
    @media screen and (min-width: 1440px) {
      min-width: 1180px;
      margin-left: 24px;
  }    
}
}