.navLink {
  display: inline-block;
  margin-bottom: 40px;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  line-height: 27px;
  letter-spacing: -0.02em;
  color: rgb(255, 255, 255, 0.3);

    &:hover,
    &:focus {
      color: var(--text-link-color);
    }
}

.active {
  color: var(--bg-column-title);
}

.navLink:not(:last-child) {
  margin-right: 14px;
}

.form {
  width: 335px;
  height: fit-content;
  padding: 24px;
  border-radius: 8px;

  background: var(--text-primary-color);

  @media screen and (min-width: 767px) {
    width: 424px;
    padding: 40px;
  }
}

.input {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 49px;
  margin-bottom: 14px;
  padding: 14px 0px 14px 18px;
  outline: none;
  color: var(--bg-column-title);
  border-radius: 8px;
  border: 1px solid rgba(190, 219, 176, 0.4);
  box-shadow: 0px 4px 16px rgba(22, 22, 22, 0.08);
}

.input:focus-within {
  border: 1px solid rgba(190, 219, 176, 1);
}

.inputField:focus {
  opacity: 1;
}

.inputField {
  width: 100%;
  font-size: 14px;
  background: inherit;
  letter-spacing: -0.02em;
  border: none;
  line-height: 21px;
  outline: none;
  color: var(--bg-column-title);
}

.inputField:focus::placeholder {
  transition: opacity 0.3s ease-in-out;
  border: none;
}

.inputError {
  display: block;
  position: absolute;  
  top: 0;
  right: 8px;
  font-size: 12px;
  border: none;
  margin-bottom: 20px;
  color: var(--text-link-color);
}

.fieldIcon {
  display: flex;
  top: 50%;
  transform: translate(-50%);
  fill: rgb(176, 164, 164, 1);
  stroke: rgb(176, 164, 164, 1);
  cursor: pointer;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #151515 inset;
  -webkit-text-fill-color: var(--bg-column-title);
}